.advantages {
  width: 100%;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.advantages__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #eeeeee;

  &--blue-background {
    background-color: $blue;
    color: $white;
    width: 100%;
  }

  &--row-direction {
    padding: 24px 18px;

    @media screen and (min-width: $tablet-width) {
      width: 33.33%;
      min-width: 190px;
      padding: 41px 0 63px 0;
    }

    @media screen and (min-width: $desktop-width) {
      max-width: 400px;
      padding: 52px 50px;
    }
  }

  &--divider {
    position: relative;

    &::before {
      @media screen and (max-width: $mobile-width-only) {
        content: "";
        position: absolute;
        top: 0;
        min-width: 284px;
        height: 1px;
        background-color: #d6d6d6;
      }
    }

    &::after {
      @media screen and (max-width: $mobile-width-only) {
        content: "";
        position: absolute;
        bottom: 0;
        min-width: 284px;
        height: 1px;
        background-color: #d6d6d6;
      }
    }
  }
}

.advantages__text-wrapper {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 190px;
  }

  @media screen and (min-width: $desktop-width) {
    max-width: 300px;
  }
}

.advantages__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
  }
}

.advantages__content-text {
  max-width: 284px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 33px 0 40px 0;

  @media screen and (min-width: $tablet-width) {
    padding: 52px 33px 31px 33px;
    min-height: 256px;
  }

  @media screen and (min-width: $desktop-width) {
    max-width: 400px;
    padding: 50px;
  }
}

.advantages__title {
  margin: 0 0 11px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    max-width: 190px;
    margin: 0 0 23px 0;
  }

  @media screen and (min-width: $desktop-width) {
    max-width: 128px;
  }
}

.advantages__count {
  margin: 0 0 17px 0;

  @media screen and (min-width: $tablet-width) {
    margin: 0 0 34px 0;
  }
}

.advantages__description {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.advantages__picture {
  display: block;
  width: 100%;
  object-fit: cover;
}

.advantages__sublist {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
  padding: 25px 0 46px 0;
  margin: 0;
  list-style-type: none;
  background-color: $white;
  color: $black;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 331px;
    padding: 0;
    gap: 0;
  }
}

.advantages__subitem {
  width: 100%;
  max-width: 284px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 0 0 65px;


  @media screen and (min-width: $tablet-width) {
    min-height: 331px;
    width: 33.33%;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 0;
  }

  @media screen and (min-width: $desktop-width) {
    min-height: 330px;
    width: 100%;
    min-width: 400px;
  }

  &--accomodation {
    background: url("../img/sub-list-house.png") no-repeat  top 23px left 18px;
    background-size: 40px 40px;

    @media screen and (min-width: $tablet-width) {
      background-size: 77px 72px;
      background-position: top 60px left 88.46px;
    }

    @media screen and (min-width: $desktop-width) {
      background-size: 79.47px 72.4px;
      background-position: top 69px left 145px;
    }
  }

  &--food {
    background: url("/../img/sub-list-food.png") no-repeat top 23px left 18px;

    @media screen and (min-width: $tablet-width) {
      background-size: 80.22px 67.9px;
      background-position: top 62px left 86.83px;
    }

    @media screen and (min-width: $desktop-width) {
      background-size: 73.04px 68.9px;
      background-position: top 72px left 149px;
    }
  }

  &--souvenir {
    background: url("../img/sub-list-souvenir.png") no-repeat top 23px left 18px;

    @media screen and (min-width: $tablet-width) {
      background-size: 66.51px 75px;
      background-position: top 64px left 98.47px;
    }

    @media screen and (min-width: $desktop-width) {
      background-size: 77.46px 75.02px;
      background-position: top 69px left 147px;
    }
  }
}

.advantages__subtitle {
  max-width: 105px;
  margin: 0 0 16px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages__subdescription {
  margin: 0;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    max-width: 190px;
    padding: 0 0 60px 0;
  }

  @media screen and (min-width: $desktop-width) {

    padding: 0 0 69px 0;
  }
}
