.advantages {
  width: 100%;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "item-1 item-1 item-1"
      "sublist sublist sublist"
      "item-2 item-2 item-2"
      "item-3 item-4 item-5";
  }
}

.advantages__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eeeeee;
}

.advantages__item:first-child {
  background-color: #81b3d2;
  color: $white;

  @media (min-width: $tablet-width) {
    display: flex;
    grid-area: item-1;
  }
}

.advantages__item:nth-child(2) {
  background-color: #81b3d2;
  color: $white;

  @media (min-width: $tablet-width) {
    grid-area: item-2;
  }
}


.advantages__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    grid-area: item-3;
  }
}

.advantages__item:nth-child(4) {
  @media (min-width: $tablet-width) {
    grid-area: item-4;
  }
}

.advantages__item:nth-child(5) {
  @media (min-width: $tablet-width) {
    grid-area: item-5;
  }
}

.advantages__title {
  margin: 0;
  margin-top: 54px;
  margin-bottom: 11px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__count {
  margin-bottom: 17px;
}

.advantages__description {
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__sublist {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: $white;
  color: #000000;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 331px;
    grid-area: sublist;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 331px;
    grid-area: sublist;
  }
}

.advantages__subitem {
  width: 100%;
  padding: 0 18px 25px 65px;
}

.advantages__subitem:first-child {
  background: url("../img/sub-list-house.png") no-repeat 40px 40px;
}

.advantages__subitem:nth-child(2) {
  background: url("/../img/sub-list-food.png") no-repeat 40px 40px;
}

.advantages__subitem:last-child {
  background: url("../img/sub-list-souvenir.png") no-repeat 40px 40px;
}

.advantages__subtitle {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages__subdescription {
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}
