.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0;

  &:hover path {
    fill: $blue;
  }

  &:active path {
    fill: #b3b3b3;
  }
}

.copyright__text {
  margin: 0;
  margin-right: 12px;
  font-size: 14px;
  line-height: 21px;
  color: $black;
  text-transform: uppercase;
}

.copyright:hover .copyright__text {
  color: $blue;
}

.copyright:active .copyright__text {
  color: #b3b3b3;
}
