.hotel-review {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.hotel-review__fieldset {
  padding: 0;
  margin: 0 auto;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.hotel-review__fieldset--tablet {
  @media (min-width: $tablet-width) {
    display: inline-block;
    float: right;
    margin-bottom: 56px;

    &:first-child {
      float: left;
      min-width: 280px;
    }
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    float: right;
    margin-bottom: 56px;

    &:first-child {
      float: left;
    }
  }
}

.hotel-review__title {
  margin: 24px auto 20px auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.hotel-review__text-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hotel-review__text-list:last-child {
  margin-bottom: 39px;
}

.hotel-review__text-label {
  padding-left: 16px;
}

.hotel-review__text-input {
  font-family: inherit;
  padding: 0;
  width: 100%;
  min-height: 58px;
  background-color: #f2f2f2;
  border: none;
}

.hotel-review__text-input::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 20px;
  color: $black;

  &--contacts::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.hotel-review__radio-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin: 0 96px;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    gap: 28px;
  }
}

.hotel-review__radio-list:last-child {
  margin-bottom: 24px;
}

.hotel-review__radio-name {
  padding-left: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-review__checkbox-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin: 0 24px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 64px;
  }
}

.hotel-review__checkbox-list:last-child {
  margin-bottom: 24px;
}

.hotel-review__checkbox-name {
  padding-left: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-review__textarea {
  width: 100%;
  min-height: 150px;
  font-family: inherit;
  border: none;
  resize: none;
  background-color: #f2f2f2;
}

.hotel-review__textarea::placeholder {
  padding: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
}

.hotel-review__button-container {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
  }
}

.hotel-review__button {
  min-height: 58px;
  padding: 16px 49px;

  @media screen and (min-width: $tablet-width) {
    max-width: 324px;
  }

  @media screen and (min-width: $desktop-width) {
    max-width: 384px;
  }
}

.hotel-review__required-field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);

  @media screen and (min-width: $tablet-width) {
    font-size: 14px;
  }
}
