.hotel-search__title {
  padding: 0 29px;
  margin: 0;
  margin-top: 38px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.hotel-search__description {
  padding: 0 29px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.hotel-search__button {
  width: 100%;
  min-height: 58px;
  margin: 0 auto 49px auto;
}

.hotel-search__map {
  position: relative;
  margin-bottom: 8px;
}

.hotel-search__map-dot {
  position: absolute;
  top: 146px;
  left: 161px;
}
