.images {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 17px;

  @media screen and (min-width: $tablet-width) {
    padding: 0 60px;
    margin-bottom: 57px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 66px;
  }
}

.images__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
  }

  @media screen and (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.images__item {
  width: 100%;
  margin-bottom: 25px;

  @media screen and (min-width: $tablet-width) {
    margin: 0;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0;
  }
}

.images__item:first-child {
  @media screen and (min-width: $tablet-width) {
    grid-column: span 2;
  }

  @media screen and (min-width: $desktop-width) {
    grid-column: span 3;
  }
}

.images__picture {
  width: 100%;
  margin: 24px 0 15px 0;

  @media screen and (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
  }

  @media screen and (min-width: $desktop-width) {
    width: 100%;
    margin: 0;
  }
}

.images__container {
  @media screen and (min-width: $tablet-width) {
    min-height: 80px;
    background-color: #f2f2f2;
  }

  @media screen and (min-width: $desktop-width) {
    min-height: 80px;
    background-color: $black;
    color: $white;
  }
}

.images__title {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.images__authors {
  margin: 0;
  margin-bottom: 11px;
}

.images__like-count {
  width: 23px;
  height: 21px;
  display: inline-block;
  background: url("../img/like-icon.svg") no-repeat;
}

.images__number {
  margin-left: 14px;
  font-weight: 700;
}
