.intro {
  position: relative;
}


.intro__container {
  position: relative;
}

.intro__background-image {
  width: 100%;
  min-height: 389px;
  margin-bottom: 32px;

  &--form-page {
    margin-bottom: 36px;
  }

  @media (min-width: $tablet-width) {
    min-height: 518px;
    margin-bottom: 47.5px;
  }

  @media (min-width: $desktop-width) {
    min-height: 518px;
    margin-bottom: 59px;
  }
}

.intro__text-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--form-page,
  &--media-page {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.intro__lead {
  margin: 0 18px 35px 18px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 124px 35px 124px;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 357px 35px 357px;
    font-size: 21px;
  }
}

.intro__lead--form-page {
  margin: 36px 0 24px 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
  }
}

.intro__lead--media-page {
  margin: 37px 0 25px 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
  }
}

.intro__description {
  margin: 0 18px 32px 18px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 124px 55.5px 124px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 357px 44px 357px;
  }
}


.intro__description--form-page {
  margin-bottom: 28px;
}

.intro__description--media-page {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin: 0 155px 62px 155px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 345px 64px 345px;
  }
}
