.intro {
  position: relative;
}

.intro__background-image {
  margin-bottom: 32px;

  &--form-page {
    margin-bottom: 36px;
  }
}

.intro__text-image {
  position: absolute;
  top: 90px;
  left: 19px;

  &--form-page,
  &--media-page {
    top: 52px;
    left: 45px;
  }
}

.intro__lead {
  margin: 0 18px 35px 18px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  &--form-page {
    margin-top: 36px;
    margin-bottom: 24px;
  }

  &--media-page {
    margin-top: 37px;
    margin-bottom: 25px;
  }
}

.intro__description {
  margin: 0 18px 32px 18px;
  text-align: center;
  text-transform: uppercase;

  &--form-page {
    margin-bottom: 28px;
  }

  &--media-page {
    margin-bottom: 25px;
  }
}
