.modal {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  display: none;

  @media screen and (min-width: $tablet-width) {
    min-width: 400px;
    min-height: 347px;
  }
}

.modal__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 26px;

  @media screen and (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__title--success {
  @media screen and (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.modal__description {
  margin: 0;
  margin-bottom: 26px;
}

.modal__button {
  margin: 0 auto;
  width: 100%;
  min-height: 58px;
  padding: 18px 64px 14px 63px;

  @media screen and (min-width: $tablet-width) {
    max-width: 272px;
  }

  @media screen and (min-width: $tablet-width) {
    max-width: 458px;
  }
}

.modal__button-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 98px;
  background-color: #f2f2f2;
}

.modal__content--failure {
  @media screen and (min-width: $tablet-width) {
    min-width: 400px;
    margin: 283px 184px 342px 184px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 244px 440px 403px 440px;
  }
}

.modal__content--success {
  margin-top: 39px;

  @media screen and (min-width: $tablet-width) {
    min-width: 640px;
    min-height: 347px;
    margin: 162px 64px 463px 64px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 145px 320px 502px 320px;
  }
}

.modal__button--success {
  box-sizing: border-box;
  width: 100%;
  min-height: 58px;
}
