.presentation {
  padding: 0 27px;


  @media screen and (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0 200px;
  }
}

.presentation__lead {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    font-size: 30px;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 30px;
  }
}

.presentation__description {
  margin: 0 0 38px 0;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.presentation__wrapper {
  position: relative;
}

.presentation__image {
  width: 100%;
  min-height: 177px;

  @media screen and (min-width: $tablet-width) {
    min-height: 500px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop-width) {
    min-height: 500px;
    margin-bottom: 84px;
  }
}

.presentation__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 48px;
  min-height: 54px;
  background: url("../img/play-button.png") no-repeat;
  border: none;
}
